<!-- Контейнер кнопок игры -->
<div id="game_buttons_container">
    <!-- Кнопка настроек -->
    <button class="game_action_button settings_button" id="settings_button"><img src="img/settings_btn_32.png" alt=""></button>
    <!-- Кнопка лидерборда -->
    <button class="game_action_button leaderboard_button" id="leaderboard_button"><img src="img/cup_btn_32.png" alt=""></button>
    <!-- Кнопка выбора уровней -->
    <button class="game_action_button level_selector_button" id="level_selector_button"><img src="img/level_btn_32.png" alt=""></button>
</div>
