<!-- Popup поражения -->
<div id="game_over_popup" class="game_over_popup hidden">
    <div class="popup_overlay"></div>
    <div class="popup_container">
        <div class="popup_header">
            <h2 class="popup_title popup_title_defeat" id="popup_title_defeat"></h2>
        </div>
        <div class="popup_content">
            <div class="defeat_message" id="defeat_message"></div>
        </div>
        <div class="popup_footer popup_footer_two_buttons">
            <button class="popup_button" id="game_over_levels_button"><img class="icon-img" src="img/level_btn_32.png" alt=""> <span id="game_over_levels_button_text"></span></button>
            <button class="popup_button" id="game_over_restart_button"><img class="icon-img" src="img/restart_btn_32.png" alt=""> <span id="game_over_restart_button_text"></span></button>
        </div>
    </div>
</div>
