.textbox {
text-align: center; 
background: none; 
border: none; 
border-radius: 60px; 
outline: 0px; 
color: rgb(255, 246, 136); 
font-family: "Times New Roman"; 
font-size: 1.7em; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}